body {
	color: black;
	background: white;
}

h1 {
	color: black;
	background: #80e0ff;
	width: 100%;
}

h2 {
	color: black;
	background: #f0f8ff;
	width: 100%;
	border: thin blue;
	border-style: solid none;
}

h3 {
	color: black;
	background: #f0f8ff;
	width: 100%;
	border: thin blue;
	border-style: none;
}

th {
	background: #fff0f0;
}

td {
	background: #ffffd0;
}