body {
	color: black;
	background: white;
}

.id {
	color: red;
	font-weight: bold;
}

.header {
	width: 100%;
	border: 1px solid #ccc;
	padding: 1ex;
	color: black;
	background: #ffc;
	font-weight: bold;
}

.header :link {
	color: black;
}

.header :visited {
	color: #333;
}

.header :active {
	color: blue;
}

.header :hover {
	color: black;
	background: #fcc;
}

.body {
	width: 100%;
	border: 1px solid #ccc;
	padding: 1ex;
	color: black;
}

.body :link {
	color: black;
}

.body :visited {
	color: #333;
}

.body :active {
	color: blue;
}

.body :hover {
	color: black;
	background: #fcc;
}

.quote1 {
	color: #800;
}

.quote2 {
	color: #008;
}

.quote3 {
	color: #880;
}

.quote4 {
	color: #808;
}

.quote5 {
	color: #888;
}

.attachtitle {
	width: 100%;
	color: white;
	background: #f88;
}

.attach {
	width: 100%;
	border: thin none;
	background: #f88;
}

.current {
	background: #cfc;
}

.button {
	width: 100%;
	border: 1px none;
	color: #ccf;
	background: #44f;
}

.button :link {
	color: white;
}

.button :visited {
	color: #fdd;
}

.button :active {
	color: red;
}

.list {
	line-height: 1
}

.list :link {
	text-decoration: none;
	color: black;
}

.list :visited {
	text-decoration: none;
	color: #444;
}

.list :active {
	text-decoration: none;
	background: #fcc;
}

.list :hover {
	text-decoration: none;
	background: #fcc;
}
