h1 {
	padding: 0.4em 0.4em;

	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #8888bb;
}

body {
	background-color: white;
	font-size: small;
	color: #444488;
}

p.thumbnails  {
	margin-left: 5%;
	margin-right: 5%;
}

p.footer  {
	font-size: small;
	color: #888888;
	font-style: italic;
	text-align: right;
	margin-left: 5%;
}

img.thumbnail {
	margin:  2px;
	padding: 5px;
	background-color: white;
	border-width: 0;
	border-color: #4444cc;
	border-style: solid;
	border-width: 0px 1px 1px 0px;
}

hr {
	border-color: #8888bb;
	border-style: solid;
	height: 0px;
}

p.flash {
        text-align: center;
}

p.photo {
        text-align: center;
}

a.navi  {
	border-style: solid;
	border-width:  1px 2px 2px 1px;
        padding: 1px 4px 1px 4px;
        border-color: #6666ff;
        color: #0000ff;
	font-weight: bold;
        text-decoration: none;
}

a.navi:hover {
        background-color: #ddddff;
}

a.navi:visited {
	color: #aa55cc;
}

img.photo {
	margin:  4px;
	padding: 6px;
	background-color: white;
	border-width: 0;
	border-color: #8888ff;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
}
