/* #D1DEBD; 1 */
/* #9C6D59; 2 */
/* #408394; 3 */
/* #EEF8DF; 4 LIGHTER */

body {
  background: #ffffff; /*4*/
}

a {
  color: #107384;
}

#navBarLeft, #navBarCenter, #navBarRight {
  background: #D1DEBD; /*1*/
}

#navBarRight form INPUT {
  background: #EEF8DF; /*4*/
}

#pageHeader {
  background: #408394; /*3*/
}

#title {
  color: #ffffff;
}

#leftColumn {
  background: #ffffff; /*1*/
}

#rightColumn {
  background: #D1DEBD; /*1*/
}

.comTitle {
  color: #004040;
}

.xoopsQuote {
  background: #f0ffff;
}
/* Blocks */

.blockTitle {
  background: #408394;/*3*/
  color: #FFFFFF;
}

/* Table */

.outer TH, .itemHead  {
  background: #408394;/*3*/
  color: #FFFFFF;
}

.outer TH A, .itemHead A {
  color: #FFFFFF;
}

.head {
  background: #C1CEAD; /*1*/
  color: #404040; /*2*/
}

.odd {
  background: #e8f0e8; /*?*/
}

.even {
  background: #f0f8f0; /*?*/
}

.item .itemInfo {
  background: #C1ADCE; /*1*/
  color: #404040; /*2*/
}

td#mainmenu a:hover,td#usermenu a:hover {
  background: #408394; /*3*/
  color: #ffffff;
}

td#mainmenu a.menuTop {
  border-top: 1px solid #408394;/*3*/
  border-right: 1px solid #408394;/*3*/
  border-bottom: 1px solid #408394;/*3*/
  border-left: 1px solid #408394;/*3*/
}

td#mainmenu a.menuMain {
  border-right: 1px solid #408394;/*3*/
  border-bottom: 1px solid #408394;/*3*/
  border-left: 1px solid #408394;/*3*/
}

td#mainmenu a.menuSub {
  border-right: 1px solid #408394;/*3*/
  border-bottom: 1px solid #408394;/*3*/
  border-left: 1px solid #408394;/*3*/
}

td#usermenu a {
  border-right: 1px solid #408394;/*3*/
  border-bottom: 1px solid #408394;/*3*/
  border-left: 1px solid #408394;/*3*/
}

td#usermenu a.menuTop {
  border-top: 1px solid #408394;/*3*/
}

h1 {
	color: black;
	background: #80e0ff;
	width: 100%;
}

h2 {
	color: black;
	background: #f0f8ff;
	width: 100%;
	border: thin blue;
	border-style: solid none;
}

h3 {
	color: black;
	background: #f0f8ff;
	width: 100%;
	border: thin blue;
	border-style: none;
}


th#wfs {
	background: #fff0f0;
}

td#wfs {
	background: #ffffd0;
}

