@import url(colors.css);

/* $Id: style.css,v 1.1.1.1 2003/04/21 14:30:51 jc Exp $ */

/* Base Styles */
body {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
}

A {
}

 { margin-left: 20px; text-align: left;}
li {  }

/* Page Header */
#pageHeader {
  width: 100%;  
}

#navBarLeft, #navBarCenter, #navBarRight {
  font-size: 10px;
  vertical-align: middle;
}

#navBarLeft {
  width: 25%;
}

#navBarCenter {
  text-align: center;
  width: 50%;
}

#navBarRight {
  text-align: right;
  width: 25%;
}

#navBarRight form {
  margin: 0px;
  padding: 2px;
}

#navBarRight form INPUT {
  font-size: 10px;
  vertical-align: bottom;
}

#searchButton {
  width: 100px;
}

#pageHeader {
  text-align: center;
}

#title {
  font-size: 24px;
  margin: 5px;
}

#title img {
  padding: 5px;
}

/* Main Table Columns */
#main {
  width: 100%;
}

#leftColumn {
  width: 160px;
  vertical-align: top;
  padding-right: 5px;
  border-right: 1px solid #c0c0c0;
}

#centerColumn {
  padding: 10px;
  vertical-align: top;
}

#rightColumn {
  width: 15%;
  vertical-align: top;
  padding-left: 5px;
}

/* Blocks */

.blockTitle {
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.blockContent {
}

.blockContent table {
  width: 100%;
}

#news_new {
  width: 95%;
}

/* Table */

.outer {
  width: 100%;
}

.outer TH, .itemHead  {
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 3px;
}

.outer TH A, .itemHead A {
}

.head {
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #c0c0c0;
}

.odd {
  vertical-align: top;
}
.even {
}

.item {
  border-right: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  border-top: 1px solid #c0c0c0;
  padding-left: 5px;
  padding-right: 5px;
}

.item .itemInfo {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 5px;
  text-align: center;
  border: 1px solid #c0c0c0;
  padding: 2px;
}

.itemFoot {
  margin-bottom: 5px;
  text-align: center;
}

.comDate {
  text-align: right;
}

.comTitle {
  font-weight: bold;
  border-bottom: 1px solid #c0c0c0;
}

.xoopsQuote {
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
}

td#mainmenu a,td#usermenu a {
  display: block;
  margin: 0;
  padding: 4px;
  text-decoration: none;
}

td#mainmenu a:hover,td#usermenu a:hover {
  text-decoration: none;
}

td#mainmenu a.menuTop {
  padding-left: 3px;
}

td#mainmenu a.menuMain {
  padding-left: 3px;
}

td#mainmenu a.menuSub {
  padding-left: 9px;
}

td#usermenu a {
}

td#usermenu a.menuTop {
}

td#indexbar {
  text-align: right;
  width: 40px;
}

#copyright {
  text-align: center;
  font-size: 10px;
  font-style: italic;
  border-top: 1px solid #c0c0c0;
}

#centerContent {
  width: 100%;
}

#centerLcolumn, #centerRcolumn {
  width: 50%;
  vertical-align: top;
}
